@import '../scss.variable';

$c: '#{$prefix}dialog';
.#{$c} {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  padding: 20px;
  width: 30%;
  max-width: 100vw;
  min-height: 80px;
  border-radius: var(--t-redis);
  background-color: var(--t-bg-color);
  box-shadow: rgb(0 0 0 / 8%) 0 6px 16px 0,
    rgb(0 0 0 / 12%) 0 3px 6px -4px, rgb(0 0 0 / 5%) 0 9px 28px 8px;
  pointer-events: auto;
  &__mask {
    position: fixed;
    inset: 0;
    background-color: var(--t-mask-bg-color-reverse);
  }
  &__wrapper {
    position: fixed;
    overflow: auto;
    padding: 1px 0;
    text-align: center;
    inset: 0;
    pointer-events: none;
    &::before {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: top;
      content: '';
    }
  }
  &__main {
    padding: 20px 0;
    text-align: left;
  }
  &__header {
    position: relative;
    font-weight: bold;
    text-align: left;
  }
  &__footer {
    text-align: right;
  }
  &__title {
    flex-grow: 1;
    margin: 0;
  }
  &__center {
    .#{$c}__header,
    .#{$c}__footer {
      text-align: center;
    }
  }
  &__centered {
    padding: 20px 0;
    &:before,
    .#{$c} {
      vertical-align: middle;
    }
    .#{$c} {
      margin-bottom: 0;
    }
  }
  &__btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 2px;
    padding-left: 2px;
  }
  &__root {
    --t-dialog-transition-duration: var(--t-transition-duration);

    // --t-dialog-transition-duration: 5s;
    .#{$c}__mask-enter-active,
    .#{$c}__mask-leave-active {
      transition: opacity var(--t-dialog-transition-duration) ease-in-out;
    }
    .#{$c}__mask-enter-from,
    .#{$c}__mask-leave-to {
      opacity: 0;
    }
    .#{$c}-enter-active,
    .#{$c}-leave-active {
      transition: opacity var(--t-dialog-transition-duration) ease-in-out;
      .#{$c} {
        transition: all var(--t-dialog-transition-duration) linear;
      }
    }
    .t-dialog-enter-from,
    .t-dialog-leave-to {
      opacity: 0;
      .#{$c} {
        transform: scale(0);
      }
    }
  }
}
