@use '../namespace' as Name;

$r: Name.$loading;

.#{$r} {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(2px);
  line-height: initial;
  color: white;
  &__ref,
  &__wrapper {
    position: relative;
  }
  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__icon {
    margin: auto;

    $w: 50px;

    width: $w;
    height: $w;
    .loading-rotate {
      animation: loading-rotate 1.5s linear infinite;
    }
    svg {
      width: 100%;
      height: 100%;
      path {
        fill: currentcolor;
      }
    }
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
  &-enter-active,
  &-leave-active {
    transition: opacity var(--t-transition-duration) ease-in-out;
  }
}
body > .#{$r} {
  position: fixed;
}

@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
  }
}
