@import '../scss.variable';

.#{$prefix}loading__ref {
  position: relative;
}

.#{$prefix}loading {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(2px);
  line-height: initial;
  color: white;
  .loading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .loading-icon {
    margin: auto;

    $w: 60px;

    width: $w;
    height: $w;
    .loading-rotate {
      animation: loading-rotate 1.5s linear infinite;
    }
    svg {
      width: 100%;
      height: 100%;
      path {
        fill: currentcolor;
      }
    }
  }
}
body > .#{$prefix}loading {
  position: fixed;
}
.loading-enter-from,
.loading-leave-to {
  opacity: 0;
}
.loading-enter-active,
.loading-leave-active {
  transition: opacity var(--t-transition-duration) ease-in-out;
}

@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
  }
}
