@use './scss.variable' as Var;
@use 'sass:color' as Col;

@mixin type-color($type, $color) {
  --t-color-#{$type}: #{$color};

  // 透明度
  @for $i from 2 through 7 {
    --t-color-#{$type}-a-#{$i}: #{rgba(
      $color,
      calc((100 - 15 * ($i - 1)) / 100)
    )};
  }

  // 亮度
  @for $i from 2 through 7 {
    --t-color-#{$type}-l-#{$i}: #{Col.scale(
      $color,
      $lightness: calc(15% * ($i - 1))
    )};
  }
}
:root {
  @include type-color(primary, Var.$primary-color);
  @include type-color(success, Var.$success-color);
  @include type-color(danger, Var.$danger-color);
  @include type-color(warning, Var.$warning-color);
  @include type-color(info, Var.$info-color);

  // ---

  --t-radius: 8px;
  --t-size: 36px;
  --t-transition-duration: 0.5s;
  --t-mask-bg-color: rgb(0 0 0 / 45%);
  --t-mask-bg-color-reverse: rgb(0 0 0 / 45%);
  --t-text-color: black;
  --t-disabled-text-color: rgb(194 194 194 / 100%);
  --t-bg-color: white;
  --t-text-hover-color: #606060;
  --t-text-reverse-color: white;
  --t-primary-bg-color: var(--t-color-primary);
  --t-primary-hover-bg-color: #4096ff;
  --t-primary-disabled-bg-color: #83b5fa;
  &.dark {
    --t-mask-bg-color-reverse: rgb(255 255 255 / 38%);
    --t-text-color: white;
    --t-text-hover-color: #c2c2c2;
    --t-text-reverse-color: black;
    --t-bg-color: #424242;
    --t-disabled-text-color: rgb(255 255 255 / 38%);
  }
  .#{Var.$class-size-sm} {
    --t-radius: 4px;
    --t-size: 22px;
  }
  .#{Var.$class-size-lg} {
    --t-radius: 12px;
    --t-size: 46px;
  }
}
