$r: 'fade';

.#{$r} {
  &-enter-active,
  &-leave-active {
    transition: all 1.5s;
  }
  &-enter-from {
    transform: translateX(-100%);
    opacity: 0;
  }
  &-leave-to {
    transform: translateX(100%);
    opacity: 0;
  }
}
