@use '../namespace' as Name;

@mixin pop-style($duration) {
  position: absolute;
  z-index: 999;
  &-enter-active,
  &-leave-active {
    transition-property: opacity, transform;
    transition-duration: $duration;
    transition-timing-function: ease;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(0);
  }
  &__contextmenu_trigger {
    position: fixed;
    z-index: 999;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
}

.#{Name.$popover} {
  --t-popover-transition-duration: calc(var(--t-transition-duration) / 2);

  @include pop-style(var(--t-popover-transition-duration));
}
