@import '../scss.variable';

$r: '#{$prefix}drawer';

.#{$r} {
  position: absolute;
  max-width: 100vw;
  max-height: 100vh;
  color: var(--t-text-color);
  background-color: var(--t-bg-color);
  box-shadow: rgb(0 0 0 / 8%) 0 6px 16px 0, rgb(0 0 0 / 12%) 0 3px 6px -4px,
    rgb(0 0 0 / 5%) 0 9px 28px 8px;
  pointer-events: auto;
  &__mask {
    position: absolute;
    inset: 0;
    background-color: var(--t-mask-bg-color);
  }
  &__main {
    padding: 20px;
    text-align: left;
  }
  &__header {
    position: relative;
    border-bottom: 1px solid rgb(5 5 5 / 6%);
    text-align: left;
  }
  &__footer {
    border-top: 1px solid rgb(5 5 5 / 6%);
  }
  &__close {
    margin-right: calc(var(--t-btn-padding) * -1);
    margin-left: 0.5em;
    font-size: 1.2em;
  }
  &__title {
    flex: 1;
    font-weight: bold;
  }
  &__header,
  &__footer {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  &__root {
    --t-dialog-transition-duration: var(--t-transition-duration);

    position: absolute;
    inset: 0;
  }
  &--fixed {
    position: fixed;
  }
  &--right .#{$r} {
    top: 0;
    right: 0;
    bottom: 0;
  }
  &--left .#{$r} {
    top: 0;
    bottom: 0;
    left: 0;
  }
  &--top .#{$r} {
    top: 0;
    right: 0;
    left: 0;
  }
  &--bottom .#{$r} {
    right: 0;
    bottom: 0;
    left: 0;
  }
  &-enter-active,
  &-leave-active {
    transition: opacity var(--t-dialog-transition-duration) linear;
    .#{$r} {
      transition: all var(--t-dialog-transition-duration) ease;
    }
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    &.#{$r}--right .#{$r} {
      transform: translateX(100%);
    }
    &.#{$r}--left .#{$r} {
      transform: translateX(-100%);
    }
    &.#{$r}--top .#{$r} {
      transform: translateY(-100%);
    }
    &.#{$r}--bottom .#{$r} {
      transform: translateY(100%);
    }
  }
}
