@use '../namespace' as Name;

$r: Name.$calendar;
$c: #{Name.$calendar}-cell;
$h: #{Name.$calendar}-header;
$t: #{Name.$calendar}-table;
:root {
  --t-calendar-border: 1px solid var(--t-color-info-l-7);
  --t-calendar-table-padding: 12px 0 35px;
  --t-calendar-cell-height: 80px;
  --t-calendar-cell-bg: unset;
  --t-calendar-cell-active-bg: var(--t-color-primary-l-7);
  --t-calendar-cell-color: unset;
  --t-calendar-cell-active-color: var(--t-color-primary-l-2);
}

// .#{$r} {
// }

.#{$c} {
  padding: 8px;
  height: var(--t-calendar-cell-height);
  color: var(--t-calendar-cell-color);
  background-color: var(--t-calendar-cell-bg);
  box-sizing: border-box;
  &--prev-month,
  &--next-month {
    --t-calendar-cell-color: var(--t-color-info-l-3);
    &.#{$c}--active {
      --t-calendar-cell-active-color: var(--t-color-primary-l-5);
      --t-calendar-cell-active-bg: var(--t-color-info-l-7);
    }
  }
  &--today,
  &--active {
    --t-calendar-cell-color: var(--t-calendar-cell-active-color);
  }
  &--active {
    --t-calendar-cell-bg: var(--t-calendar-cell-active-bg);
  }
  &:not(&--disabled, &--active) {
    cursor: pointer;
    &:hover {
      --t-calendar-cell-bg: var(--t-color-primary-l-7);
    }
  }
}

.#{$h} {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-bottom: var(--t-calendar-border);
  + .#{$t} {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.#{$t} {
  padding: var(--t-calendar-table-padding);
  width: 100%;
  th {
    padding: 10px 0;
    color: var(--t-color-info);
  }
  td {
    border-right: var(--t-calendar-border);
    border-bottom: var(--t-calendar-border);
    transition: background-color var(--t-transition-duration) ease;
    vertical-align: top;
  }
  tr td:first-child {
    border-left: var(--t-calendar-border);
  }
  tr:first-child td {
    border-top: var(--t-calendar-border);
  }
}
