$h: 60px;
.app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.header {
  height: $h;
  text-align: center;
  line-height: $h;
  background-color: var(--aside-bg-color);
}
.aside {
  $w: 230px;

  overflow-y: auto;
  padding: 20px;
  width: $w;
  height: 100%;
  background-color: var(--aside-bg-color);
  flex-basis: $w;
  box-sizing: border-box;
  :global {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      color: #1a2be1;
      &.active {
        color: #8c06b8;
        pointer-events: none;
      }
    }
    a {
      display: block;
      padding: 5px 0;
      text-decoration: none;
      color: inherit;
    }
  }
}
.main {
  overflow-y: auto;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}
