@use '../namespace' as Name;

$r: Name.$word-balloon;

@mixin shadow($p) {
  $c1: rgb(0 0 0 / 8%);
  $c2: rgb(0 0 0 / 12%);
  $c3: rgb(0 0 0 / 5%);
  .#{$r}__content {
    @if $p == top {
      box-shadow: 0 6px 16px 0 $c1, 0 3px 6px -4px $c2, 0 9px 28px 8px $c3;
    } @else if $p == bottom {
      box-shadow: 0 -5px 16px 0 $c1, 0 0 6px -4px $c2, 0 -9px 28px 8px $c3;
    } @else if $p == left {
      box-shadow: 6px 0 16px 0 $c1, 0 0 6px -4px $c2, 6px 0 28px 8px $c3;
    } @else if $p == right {
      box-shadow: -6px 0 16px 0 $c1, 0 0 6px -4px $c2, -6px 0 28px 8px $c3;
    }
  }
}

.#{$r} {
  --t-word-balloon-bg: var(--t-bg-color);
  --t-word-balloon-arrow-offset: calc(var(--t-radius) + 2px);

  position: relative;
  display: inline-block;
  &__content {
    padding: var(--t-radius) 14px;
    min-width: 32px;
    min-height: 32px;
    border-radius: var(--t-radius);
    white-space: pre-wrap;
    color: var(--t-text-color);
    background: var(--t-word-balloon-bg);
    word-wrap: break-word;
    box-sizing: border-box;
  }

  $arrow-height: 5.51px;
  &__arrow {
    position: absolute;
    width: 16px;
    height: $arrow-height;
    font-size: 0;
    svg {
      fill: var(--t-word-balloon-bg);
    }
  }
  &--top,
  &--bottom {
    .#{$r}__arrow {
      right: 0;
      left: 0;
      margin: auto;
    }
    &-start {
      .#{$r}__arrow {
        left: var(--t-word-balloon-arrow-offset);
      }
    }
    &-end {
      .#{$r}__arrow {
        right: var(--t-word-balloon-arrow-offset);
      }
    }
  }
  &--right,
  &--left {
    .#{$r}__arrow {
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &-start {
      .#{$r}__arrow {
        top: var(--t-word-balloon-arrow-offset);
      }
    }
    &-end {
      .#{$r}__arrow {
        bottom: var(--t-word-balloon-arrow-offset);
      }
    }
  }
  &--top {
    transform-origin: bottom center;
    &-start {
      transform-origin: bottom left;
    }
    &-end {
      transform-origin: bottom right;
    }
    &,
    &-start,
    &-end {
      @include shadow(top);
      .#{$r}__arrow {
        top: 100%;
      }
    }
  }
  &--right {
    transform-origin: center left;
    &-start {
      transform-origin: top left;
    }
    &-end {
      transform-origin: bottom left;
    }
    &,
    &-start,
    &-end {
      @include shadow(right);
      .#{$r}__arrow {
        right: 100%;
        margin-right: -$arrow-height;
        transform: rotate(90deg);
      }
    }
  }
  &--bottom {
    transform-origin: top center;
    &-start {
      transform-origin: top left;
    }
    &-end {
      transform-origin: top right;
    }
    &,
    &-start,
    &-end {
      @include shadow(bottom);
      .#{$r}__arrow {
        bottom: 100%;
        transform: rotate(180deg);
      }
    }
  }
  &--left {
    transform-origin: center right;
    &-start {
      transform-origin: top right;
    }
    &-end {
      transform-origin: bottom right;
    }
    &,
    &-start,
    &-end {
      @include shadow(left);
      .#{$r}__arrow {
        left: 100%;
        margin-left: -$arrow-height;
        transform: rotate(-90deg);
      }
    }
  }
}
