@use '../namespace' as Name;

$r: Name.$message;

.#{$r} {
  display: inline-flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: var(--t-radius);
  color: var(--t-text-color);
  background-color: var(--t-bg-color);
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  gap: 8px;
  &__icon-wrapper {
    display: inline-flex;
    align-items: center;
    font-size: 1.2em;
    color: var(--t-message-icon-color);
  }
  &--success {
    --t-message-icon-color: var(--t-color-success);
  }
  &--info {
    --t-message-icon-color: var(--t-color-info);
  }
  &--warning {
    --t-message-icon-color: var(--t-color-warning);
  }
  &--error {
    --t-message-icon-color: var(--t-color-danger);
  }
}

.#{$r}-queue {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  > li {
    margin-top: 20px;
  }
  .#{$r} {
    pointer-events: auto;
  }
}

$q: '#{$r}-queue';

.#{$q} {
  &-enter-active,
  &-leave-active,
  &-move-active {
    transition: all 0.3s ease-out;
  }
  &-move-active {
    transition-timing-function: linear;
  }
  &-leave-active {
    position: absolute;
    width: 100%;
  }
  &-enter-from,
  &-leave-to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
