@import '../scss.variable';

.#{$prefix}layout {
  display: flex;
  flex: 1;
  overflow: hidden;
  &.vertical {
    flex-direction: column;
  }
}
.#{$prefix}aside,
.#{$prefix}main {
  overflow: auto;
}
.#{$prefix}main {
  flex: 1;
}
