@import '../scss.variable';

.#{$PREFIX}layout {
  display: flex;
  flex: 1;
  overflow: hidden;

  &.vertical {
    flex-direction: column;
  }
}
.#{$PREFIX}aside,
.#{$PREFIX}main {
  overflow: auto;
}
.#{$PREFIX}main {
  flex: 1;
}
