@use '../namespace' as Name;

.#{Name.$layout} {
  display: flex;
  flex: 1;
  overflow: hidden;
  &--v {
    flex-direction: column;
  }
}
.#{Name.$layout-aside},
.#{Name.$layout-main} {
  overflow: auto;
}
.#{Name.$layout-main} {
  flex: 1;
}
