.root {
  position: relative;
  min-height: 230px;
  > section {
    position: absolute;
    &:nth-child(1),
    &:nth-child(3) {
      left: 40px;
      justify-content: center;
      width: 180px;
    }
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: var(--t-size);
      left: 216px;
      align-items: flex-start;
    }
    &:nth-child(3) {
      top: 160px;
    }
    &:nth-child(4) {
      top: var(--t-size);
      left: 0;
      align-items: flex-end;
    }
  }
}
