@use '../namespace' as Name;
@use '../scss.variable' as Var;

$ct: Name.$collapse-transition;
$r: Name.$button;
:root {
  --t-btn-wave-opcity: 0.6;
  &.dark {
    --t-btn-wave-opcity: 1;
  }
}

.#{$r} {
  --t-btn-main-color: var(--t-text-color);
  --t-btn-color: white;
  --t-btn-bg-color: unset;
  --t-btn-border-style: solid;
  --t-btn-border-color: unset;
  --t-btn-border-width: 0;
  --t-btn-radius: var(--t-radius);
  --t-btn-padding: 12px;
  --t-btn-icon-space: 6px;

  // ------
  --t-btn-hover-color: white;
  --t-btn-hover-border-color: var(--t-btn-hover-color);
  --t-btn-hover-bg-color: unset;

  // ------
  --t-btn-danger-color: red;
  --t-btn-danger-hover-color: #ff7875;

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--t-btn-padding);
  height: var(--t-size);
  font-size: 1em;
  font-weight: 400;
  border: var(--t-btn-border-width) var(--t-btn-border-style)
    var(--t-btn-border-color);
  border-radius: var(--t-btn-radius);
  color: var(--t-btn-color);
  background-color: var(--t-btn-bg-color);
  outline: 0;
  user-select: none;
  cursor: pointer;
  transition-property: background-color, width, height, color, padding-top,
    padding-left, padding-right, padding-bottom, opacity;

  // transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: var(--t-transition-duration);
  & > span {
    display: inline-flex;
    align-items: center;
  }
  &:not([disabled]):hover {
    --t-btn-color: var(--t-btn-hover-color);
    --t-btn-bg-color: var(--t-btn-hover-bg-color);
    --t-btn-border-color: var(--t-btn-hover-border-color);
  }
  &[disabled] {
    cursor: not-allowed;
  }
  &.#{$r}--type-primary {
    --t-btn-main-color: var(--t-primary-bg-color);
    --t-btn-bg-color: var(--t-primary-bg-color);
    --t-btn-hover-bg-color: var(--t-primary-hover-bg-color);
    &[disabled] {
      --t-btn-bg-color: var(--t-primary-disabled-bg-color);
    }
  }
  &.#{$r}--type-success {
    --t-btn-main-color: #67c23a;
    --t-btn-bg-color: #67c23a;
    --t-btn-hover-bg-color: #a9ea89;
    &[disabled] {
      --t-btn-bg-color: #c5f6ac;
    }
  }
  &.#{$r}--type-warning {
    --t-btn-main-color: #e6a23c;
    --t-btn-bg-color: #e6a23c;
    --t-btn-hover-bg-color: #eebe77;
    &[disabled] {
      --t-btn-bg-color: #f3cf9a;
    }
  }
  &.#{$r}--type-info {
    --t-btn-main-color: #909399;
    --t-btn-bg-color: #909399;
    --t-btn-hover-bg-color: #b1b3b8;
    &[disabled] {
      --t-btn-bg-color: #d5d7da;
    }
  }
  &.#{$r}--type-danger {
    --t-btn-main-color: #f56c6c;
    --t-btn-bg-color: #f56c6c;
    --t-btn-hover-bg-color: #f89898;
    &[disabled] {
      --t-btn-bg-color: #f89898;
    }
  }
  &.#{$r}--plain {
    --t-btn-border-width: 1px;
    --t-btn-border-style: solid;
    --t-btn-border-color: var(--t-btn-bg-color);
    --t-btn-color: var(--t-btn-bg-color);
    --t-btn-hover-border-color: var(--t-btn-hover-bg-color);
    --t-btn-hover-color: var(--t-btn-hover-bg-color);

    background-color: unset;
  }
  &.#{$r}--plain-dashed {
    --t-btn-border-width: 1px;
    --t-btn-border-style: dashed;
    --t-btn-border-color: var(--t-btn-bg-color);
    --t-btn-color: var(--t-btn-bg-color);
    --t-btn-hover-border-color: var(--t-btn-hover-bg-color);
    --t-btn-hover-color: var(--t-btn-hover-bg-color);

    background-color: unset;
  }
  &.#{$r}--plain-text {
    --t-btn-border-width: 0;
    --t-btn-border-style: dashed;
    --t-btn-border-color: var(--t-btn-bg-color);
    --t-btn-color: var(--t-btn-bg-color);
    --t-btn-hover-border-color: var(--t-btn-hover-bg-color);
    --t-btn-hover-color: var(--t-btn-hover-bg-color);

    background-color: unset;
    &:not([disabled]):active > * {
      transition: transform calc(var(--t-transition-duration) / 3) ease-out;
      transform: translateY(-5px);
    }
  }
  &.#{$r}--type-default {
    --t-btn-main-color: var(--t-primary-bg-color);
    --t-btn-border-width: 1px;
    --t-btn-color: var(--t-text-color);
    --t-btn-border-color: var(--t-btn-color);
    --t-btn-hover-border-color: var(--t-primary-bg-color);
    --t-btn-hover-color: var(--t-primary-bg-color);
    &[disabled] {
      --t-btn-color: #cecece;
      --t-btn-border-color: #cecece;
    }
    &.#{$r}--plain-text {
      --t-btn-border-width: 0;
    }
  }
  &.#{Var.$class-size-lg} {
    --t-btn-padding: 16px;
    --t-btn-icon-space: 8px;

    font-size: 16px;
  }
  &.#{Var.$class-size-sm} {
    --t-btn-padding: 6px;
    --t-btn-icon-space: 3px;
  }
  &.#{$r}--shape-round,
  &.#{$r}--shape-circle {
    --t-btn-radius: calc(var(--t-size) / 2);
  }
  &.#{$r}--shape-circle {
    width: var(--t-size);

    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    &.#{Var.$class-size-lg} {
      --t-btn-padding: 5px;
    }
  }
  &.#{$r}--shape-none {
    --t-btn-radius: 0;
  }
  .#{$r}__wave {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }

  .#{$r}__wave--active {
    animation-name: btn-wave;
  }
  &--icon-l {
    &:not(.#{$r}--icon-only) > .#{$r}__icon {
      margin-inline-end: var(--t-btn-icon-space);
    }
  }
  &--icon-r {
    &:not(.#{$r}--icon-only) > .#{$r}__icon {
      margin-inline-start: var(--t-btn-icon-space);
    }
  }
  &__icon {
    &.#{$ct}-enter-from,
    &.#{$ct}-leave-to {
      opacity: 0;
    }
  }
  &.#{$r}--loading {
    cursor: wait;
    opacity: 0.75;
  }
}

@keyframes btn-wave {
  0% {
    opacity: var(--t-btn-wave-opcity);
    box-shadow: 0 0 0.5px 0 var(--t-btn-main-color);
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0.5px 5px var(--t-btn-main-color);
  }
}
