$name: 'group';

.#{$name} {
  &-enter-active,
  &-leave-active,
  &-move {
    transition: all 1.5s ease-in-out;
  }
  &-leave-active {
    position: absolute;
  }
  &-enter-from {
    transform: scaleY(0.01) translate(0, -100%);
    opacity: 0;
  }
  &-leave-to {
    transform: scaleY(0.01) translate(0, 100%);
    opacity: 0;
  }
}
.transition-group-demo {
  // position: relative;
  .group-container {
    text-align: left;
  }
  button {
    user-select: none;
  }
  section button {
    display: inline-block;
    width: 60px;
    height: 40px;
  }
}
