$name: 'group';
.root {
  :global {
    .#{$name} {
      &-move-active {
        transition: all 1s ease;
      }
      &-leave-active {
        position: absolute;
      }
    }
    .group-container {
      margin: auto;
      width: 300px;
      font-size: 0;
      text-align: left;
      button {
        display: inline-block;
        width: 60px;
        height: 40px;
        font-size: 16px;
      }
    }
    button {
      user-select: none;
    }
  }
}
