$name: 'group';
.root {
  :global {
    .#{$name} {
      &-enter-active,
      &-leave-active,
      &-move-active {
        transition: all 0.8s ease;
      }
      &-enter-from {
        transform: scaleY(0.01) translateY(-100%);
        opacity: 0;
      }
      &-leave-to {
        // tips: scaleY 如果为 0 会退出不彻底
        transform: scaleY(0.01) translateY(100%);
        opacity: 0;
      }
    }
    .group-container {
      white-space: nowrap;
      div {
        display: inline-block;
        padding: 6px;
      }
    }
  }
}
