$name: 'group';
.root {
  :global {
    .#{$name} {
      &-enter-active,
      &-leave-active,
      &-move-active {
        transition: all 1s ease;
      }
      &-enter-from {
        transform: scaleY(0.1) translateX(-100%);
        opacity: 0;
      }
      &-leave-to {
        transform: scaleY(0.1) translateX(100%);
        opacity: 0;
      }
    }
    .group-container {
      div {
        padding: 6px;
        border: 1px solid white;
        color: whitesmoke;
        background-color: #f56c6c;
      }
    }
  }
}
