$name: 'group';
.root {
  :global {
    .#{$name} {
      &-move-active {
        transition: all 1s ease;
      }
    }
    .group-container {
      white-space: nowrap;
      div {
        display: inline-block;
        padding: 6px;
      }
    }
  }
}
