@import '../scss.variable';

$r: '#{$prefix}collapse-transition';

.#{$r} {
  overflow: hidden;
  padding: 0 !important; // padding只能是0，否则height为0的时候padding部分无法隐藏
  &-enter-active,
  &-leave-active {
    transition-property: width, height;
    transition-duration: var(--t-transition-duration);
  }
  &-enter-from,
  &-leave-to {
    &.#{$r}--h {
      height: 0 !important;
    }
    &.#{$r}--w {
      width: 0 !important;
    }
  }
}
