@import '../packages/react-ui/src/index';
.transition-box {
  position: relative;
  margin: auto;
  width: 200px;
  height: 60px;
}
.transition-box > div {
  position: absolute;
  width: 200px;
}
.markdown {
  td:not(:first-child) {
    word-break: break-word;
  }
}
